<div id="<%= dom_id term %>">
  <p>
    <strong>Name:</strong>
    <%= term.name %>
  </p>

  <p>
    <strong>Academic year:</strong>
    <%= term.academic_year_id %>
  </p>

  <p>
    <strong>Registration open:</strong>
    <%= term.registration_open %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= term.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= term.end_date %>
  </p>

</div>
