<p style="color: green"><%= notice %></p>

<h1>Subjects</h1>
<div class="d-flex px-3">
  <%= link_to "New subject", new_subject_path %> |
  <%= link_to "Add Subject to Class", forms_path %>|
  <%= link_to "Assign subject to staff", staffs_path %>|
  <%= link_to "Assign subject to student", new_subject_path %>
</div>
<div id="subjects">
   

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
         <% @subjects.each do |subject| %>
            <%= render subject %>          
          <% end %>
      </tbody>
    </table>
  </div>


