<div class="modal fade" id="addSubjectToClassModal<%=form.id%>" tabindex="-1" aria-labelledby="addSubjectModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Subject</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <%= form_with  url: staff_subjects_path do |f| %>
          <div class="modal-body">
            
            <%= hidden_field_tag :staff, form.id  %>
            <%= hidden_field_tag :form, form.id  %>

            <div class = "Container">
            <%  form.form_subjects.each do |subject| %>
                <%= f.label :"#{subject.subject.id}" , subject.subject.name %>
                <%= check_box_tag 'subjects[]', subject.subject.id %>
            <% end %>
            </div>
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            <%= f.submit "Add Subject", class: "btn btn-primary"%>
          </div>
        <% end %>
    </div>
  </div>
</div>